<div style="margin-top: 20px;">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Our Laboratory</h2>
    </div>
    <ul class="timeline">
      <li><a href="../../assets/img/1.jpg" target="_blank">
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                                         alt="..."/></div>
      </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Best Doctors in Town</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Respect people, healthy or ill, regardless of who they are
              Support patients and their loved ones when and where they are needed
              Promote health as well as treat disease
              Embrace the power of information and communication technologies to support people with the best available
              information, while respecting their individual values and preferences
              Always ask courteous questions, let people talk, and listen to them carefully
              Give unbiased advice, let people participate actively in all decisions related to their health and health
              care, assess each situation carefully, and help whatever the situation
              Use evidence as a tool, not as a determinant of practice; humbly accept death as an important part of
              life; and help people make the best possible arrangements when death is close
              Work cooperatively with other members of the healthcare team
              Be proactive advocates for their patients, mentors for other health professionals, and ready to learn from
              others, regardless of their age, role, or status.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a href="../../assets/img/2.jpg" target="_blank">
          <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                                           alt="..."/></div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Best Laboratory Equipment in Town</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">ABC Laboratory is spread across central Kerala with several branches that emphasize
              providing quality, reliable and cost-effective healthcare, and diagnostic service to the needy.
              Established in 2000 by Ameer Ali M (Chairman and Managing Director, Sudharma Specialty Laboratory ) the
              group has now more than 20 branches in the central Kerala region. Sudharma Laboratory aspires to be an
              iconic point in the field of laboratory diagnosis in a cost-effective manner uncompromising on quality. We
              provides premium facilities and infrastructure at its laboratories. Sudharma Specialty Laboratory has now
              grown into a chain of laboratories from a single laboratory with a wide presence in central Kerala. We
              controlled the inflation of laboratory test rates through cost-effective packages</p>
          </div>
        </div>
      </li>
      <li>
        <a href="../../assets/img/3.jpg" target="_blank">
          <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpeg"
                                           alt="..."/></div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Our Laboratory Staff</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Your health practitioner would like to run some tests and so you’ve had your blood
              drawn and your sample has been sent “off to the lab.” (Follow a Sample to find out what happens next.) You
              met the phlebotomist who drew your blood sample, but have you ever wondered who will actually receive your
              sample and conduct the tests?

              There are a variety of skilled and educated laboratory professionals who, as a patient, you may never see
              face-to-face. However, these individuals play a very important role in your health care. People working in
              the clinical laboratory are responsible for conducting tests that provide crucial information for
              detecting, diagnosing, treating, and monitoring disease.

              These professionals use specialized instrumentation and techniques to analyze patients’ samples, such as
              blood, urine, body fluids and tissue, and stool. They may be working in the lab located in the hospital,
              clinic, or physician’s office where you are being treated or they may be at a reference laboratory located
              hundreds or perhaps thousands of miles away. (See Where Lab Tests Are Performed for more information on
              the different laboratories and how they serve you and your health practitioner.)</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a href="../../assets/img/4.jpg" target="_blank">
          <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpeg"
                                           alt="..."/></div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>User Friendly Booking</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Have you ever gone to a website and had a bad experience?

              Maybe the navigation was tough to use or it didn’t render properly on the device you were on. Perhaps it
              even had an outdated feel or there were errors when loading graphics.

              If you’re like most consumers, that user experience probably affected your overall opinion of the company.
              In fact, you might have even chosen a competitor who had a more professional website.

              As a business, it is crucial to keep this type of experience in mind.

              Why? Your digital marketing success hinges on your website presence and certain mistakes can really cause
              damage to your overall reputation as a quality company.

              To help you keep this from happening, we’ve compiled 16 things you need to know when building a
              user-friendly website. Let’s get started.

              What is a User-Friendly Website?
              What are the 6 Essential Characteristics of a User-Friendly Website?
              10 Tips for Creating a User-Friendly Website
              Wrap Up
              What is a User-Friendly Website?
              A user-friendly website is a page that looks professional and is easy for anyone who visits your website
              to navigate — including those who require certain accessibility needs.

              The idea behind this process is called usability, which essentially means the website is simple to use and
              gets the visitor to the right information as effortlessly as possible.

              Often, this is what sets the tone for all future communication with your target audience and can easily
              send them running the other way if the experience is not positive.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Book
            <br/>
            an
            <br/>
            Appointment!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</div>
