<body>
<mat-card>
  <b><span>Dashboard</span></b>
</mat-card>
<br>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2 class="title">Total Appointments</h2>
        <h1 class="title">{{data?.appointment}}</h1>
        <p>
          <button class="button" [routerLink]="['/cafe/appointments']"> View Appointment </button>
        </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2 class="title">Total Channelling</h2>
        <h1 class="title">{{data?.Channel}}</h1>
        <p><button class="button" [routerLink]="['/cafe/channelling']"> View Channelling </button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2 class="title">Total Bills</h2>
        <h1 class="title">{{data?.bills}}</h1>
        <p><button class="button" [routerLink]="['/cafe/bill']"> View Bill </button></p>
      </div>
    </div>
  </div>
</div>
</body>
